.landing-section {
    background-image: url("http://joshi24.myweb.cs.uwindsor.ca/static-img/home-page.jpg");
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    .intro-main {
        height: 100%;
        padding-top: 2rem;
        opacity: 0.8;
        margin: 0 auto;
        font-size: 1.75rem;
        font-weight: bold;
        color: white;
        max-width: 70%;
        text-align: center;
        padding-left: 4rem;
        font-family: 'Dancing Script', cursive;
        // text-align: left;
        .title2 {
            padding-top: 1rem;
        }
    }
}