.footer-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background-color: #cecece;
    color: #5a328a;
    text-align: center;
}
.text {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}